<mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue" multiple>
        <mat-option>None</mat-option>
        <mat-optgroup label="Web">
            <mat-option *ngFor="let len of lenguajes" value="{{len}}">{{len | titlecase}}</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Mobile">
            <mat-option value="ionic">Ionic</mat-option>
            <mat-option value="reactnative">React native</mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>
{{selectedValue}}