<mat-menu #appMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
  </mat-menu>
  
  <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
  
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>
  
  </mat-menu>
  
  
  <mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Hobby is {{hobby}}</button>
      <button mat-menu-item>Log out {{name}}</button>
    </ng-template>
  </mat-menu>
  
  <button mat-raised-button [matMenuTriggerData]="{name : 'Vishwas', hobby: 'football'}" [matMenuTriggerFor]="lazyMenu"> Vishwas </button>
  <button mat-raised-button [matMenuTriggerData]="{name : 'Codevolution', hobby: 'teaching'}" [matMenuTriggerFor]="lazyMenu">Codevolution</button>