<div>
  <button mat-button>Click me</button>
  <button mat-raised-button>Click me</button>
  <button mat-flat-button>Click me</button>
  <button mat-stroked-button>Click me</button>
  
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini fab</button>
</div>

<div>
  <button color="primary" mat-button>Click me</button>
  <button color="accent" mat-button>Click me</button>
  <button color="warn" disableRipple mat-button>Click me</button>
  <button color="primary" mat-raised-button>Click me</button>
  <button color="accent" mat-raised-button>Click me</button>
  <button color="warn" mat-raised-button>Click me</button>
</div>